.container {
    display: grid;
    margin-bottom: 8rem;
}

.container * {
    margin: 0;
    padding: 0;
}

.container>h1 {
    text-align: center;
    font-family: var(--font-roboto);
    font-size: 3rem;
    font-weight: 200;
    color: var(--color-dark-gray);
}

.container img {
    object-fit: cover !important;
    /* object-position: center !important; */
}



.cardsGrid {
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

.cardsGrid>figure {
    display: flex;
    flex-direction: column;
    border-radius: 9px;
}

.cardsGrid figure>div {
    margin-bottom: 1em;
}

.cardsGrid h2 {
    font-family: var(--font-open-inter);
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    font-size: .9rem;
    margin-bottom: .3em;
}

.cardsGrid span {
    font-family: var(--font-open-lato);
    color: teal;
}

.container button {
    margin-block: 5em;
    margin-inline: auto;
    background-color: var(--color-dark-gray-2);
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 1em ;
}

.container button:hover,
.container button:focus{
    background-color: var(--color-dark-gray-3);
    
}