.container {
    margin-bottom: 3em;
}

.btn {
    background-color: var(--color-dark-gray-2);
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 1em;
}

.btn:hover,
.btn:focus {
    background-color: var(--color-dark-gray-3);

}

.btnWrapper {
    display: grid;
    place-content: center;
}