/* SECOND FORM */

.form {
    margin-top: 2em;
}

.sizeContainer {
    border-radius: 10px;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(2.4em, 1fr));
    padding: 1em;
    -webkit-box-shadow: 0px 0px 26px -10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 26px -10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 26px -10px rgba(0, 0, 0, 0.25);
}

.size {
    border: 2px solid red;
    border-radius: 5px;
    display: grid;
    place-content: center;
    height: 2.4em;
    -webkit-box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    color: rgb(77, 77, 77);
}

.sizeElWrapper {
    display: grid;
    gap: 1em;
    margin: 1em 0;
}


.sizeElWrapper>select {
    border: none;
    outline: none;
    border-bottom: teal 2px solid;
    padding: 0.675rem 1rem;
    background-color: transparent;
    font-size: small;
    font-weight: 600;
    border: 1px solid #707070;
    border-left: 2px solid #aaaaaa;
    color: rgb(173, 173, 173);
    transition: all .2s
}



.sizeElWrapper>select:focus {
    border: none;
    outline: 2px solid teal;
    background-color: #fefefe;
}


.sizeElWrapper>button {
    background-color: teal;
    border: none;
    cursor: pointer;
    color: rgb(248, 240, 240);
    font-size: 1rem;
    padding: .7em 0;
    border-radius: 3px;
}

.sizeElWrapper>button:hover,
.sizeElWrapper>button:focus {
    background-color: rgb(5, 107, 107);
}


@media (min-width: 600px) {
    .sizeElWrapper {
        grid-template-columns: 1fr 1fr;
        align-items: end;
    }

    .sizeElWrapper>button {
        padding: .5em 0;
    }
}

/* 👇This rule is aimed at increasing the hight
of the parent form component to push the upload btn down since it's positioned absolute to the parent 👇 */

.dummyDiv {
    height: 120px;
}